{% extends 'base.html'%}

{% block head %}
<title>signin page</title>
{% endblock %}


{% block body %}

<h2>SIGNIN Forms</h2>
<form action="action_page.php" method="post">
    
    <div class="container">
      <label for="uname"><b>Username</b></label>
      <input  class ="form-control" type="text" placeholder="Enter Username" name="uname" required>
  
      <label for="psw"><b>Password</b></label>
      <input   class ="form-control"type="password" placeholder="Enter Password" name="psw" required>
  
      <button style="margin-top: 2ex;margin-left:50%"class="btn btn-success" type="submit">Login</button>
      
    </div>
  
    <div class="container" style="background-color:#f1f1f1;">
      
      <span>Forgot <a href="#">password?</a></span>
    </div>
  </form>

{% endblock %}
