<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Resume</title>
    <link rel="stylesheet" href="../static/style.css" />
  </head>
  <body>
    <div class="resume">
      <div class="name-sec">
        <div class="profile">
          <img src="../static/selva.png.jpeg" alt="profile" />
        </div>
        <div class="nm-ctn">
          <h1>Sawdeshwaran.R</h1>
        </div>
      </div>
      <div class="container">
        <div class="abt-sec">
          <h1>About Me</h1>
          <p>
            To obtain a challenging position in my
dream company in order to expand my
experience and skills and work towards
the overall growth of the organisation and gain my known in my core feild.
          </p>
        </div>
        
      </div>
      <div class="skills">
        <h1>Professional Skills</h1>
        <div class="skill-grid">
          <div>
            <legend>HTML</legend>
            <div class="bar1 bar"></div>
          </div>
          <div>
            <legend>CSS</legend>
            <div class="bar2 bar"></div>
          </div>
        </div>
      </div>
      <div class="projects">
        <h1>Projects Done</h1>
        <div class="cards-container">
          <div class="card card1">
            <h1 class="card-text"><img src="https://img.icons8.com/metro/56/000000/restaurant-building.png"/></h1>
          <h3 class="card-subtext">GYM Management</h3>
          <p class="card-maintext">
            Lorem ipsum dolor sit amet sda as consectetur, adipisicing elit. Commodi,
            quis!
          </p>
          </div>
        </div>
      </div>
      <div class="certificate">
        <h1>Certification:</h1>
        <div class="cert-cont">
          <ul>
            <li>Java Basics</li>
            <li>cisco</li>
          <li>android development </li></ul>
         
        </div>
      </div>
    </div>
  </body>
</html>
 